.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen__title {
  font-size: 28px;
  font-weight: 600;
}

.screen__icons span {
  margin-left: 20px;
}

@keyframes cogrotate {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header .fa-cog:hover {
  animation: cogrotate 3s linear infinite;
}
